b
	font-family Soleil-book
	font-size 16px
h1
	font-family Brownstd
	font-size 40PX
	line-height 40PX
	margin 0px
	color #636363
h3
	font-family Soleil-book
	font-size 30PX
	line-height 30px
	color #999ca2
	margin 0px
h4
	font-family Soleil-book
	font-size 14PX
	line-height 16PX
	color #636363
	margin 0px
h6
	font-family Soleil-book
	font-size 16PX
	line-height 16PX
	color #94a7b9
	margin 0px
a
	text-decoration none
	color #999ca2
p
	margin  0px
a:hover
	cursor pointer
html
	scroll-behavior smooth
body
	margin 0px
	font-family Soleil
	font-size 18px
    background red
.react-container
	display grid
.nav-bar-menu
	background-color #f7f7f7
	color #999ca2
	display grid
	grid-template-rows 15% 10% 45% 30%
	justify-items left
	align-items center
	a:first-child
		justify-self center
	.name-account
		color black
		justify-self center
	.last-menu
		justify-self center
		align-self baseline
		display grid
		width 100%
		grid-template-columns: 16% 84%;
.container-right
	display grid
	grid-template-rows 100vh
	.header
		display grid
		color white
		height 100%
		width 100%
		background-color #ff533d
		justify-items center
		align-items center
		text-align center
		p
			font-size 20PX
			line-height 20px
		h1
			font-size 50PX
			line-height 50px
			height 63px
	.inside
		display grid
